<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>View reservation list</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"

          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div>
    <nav class="navbar navbar-light bg-light">
        <a href="/home"></a><a class="navbar-brand" href="/home">
        <img src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/344/external-monitor-hotel-kiranshastry-lineal-color-kiranshastry.png"
             alt="" width="30" height="24" class="d-inline-block align-text-top">
        Edit reservation list
    </a>


        <a href="/add-clubs">
            <button type="button" class="btn btn-outline-primary">Add clubs</button>
        </a><br>
        <a href="/add-tables">
            <button type="button" class="btn btn-outline-primary">Add reservation</button>
        </a><br>
        <a href="/view-clubs">
            <button type="button" class="btn btn-outline-primary">View all clubs</button>
        </a><br>
        <a href="/view-tables">
            <button type="button" class="btn btn-outline-primary">View all reservations</button>
        </a><br>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </nav>
</div>
<div class="container-fluid">
<form method="post" th:action="@{/edit-new-table}" th:object="${table}">

    <label for="ids">ID:</label><br>
    <input type="number" id="ids" name="ids" th:field="*{id}"><br>

    <label for="name">Reservation holder name:</label><br>
    <input type="text" id="name" name="name" th:field="*{reservationHolder}"><br>

    <label for="guests">Number of guests:</label><br>
    <input type="number" id="guests" name="guets" th:field="*{numberOfGuests}"><br>

    <label for="contact">Reservation holder contact:</label><br>
    <input type="number" id="contact" name="contact" th:field="*{reservationHolderContact}"><br>

    <label for="clubs">Choose club location:</label><br>
    <select name="clubs" id="clubs" th:object="${club}">
         <option th:each="club:${club}" th:value="${club.id}" th:text="${club.name}">


        </option>

    </select>


    <br><br>

    <input type="submit" class="btn btn-outline-success" value="Confirm changes!">

    <br><br>
</form>
</div>
</body>
<body background="https://www.nicepng.com/png/full/376-3764411_events-logo-png-event-management.png">
</body>
</html>